@import "./components/navbar";
// @import "../styles/header";
// @import "../styles/navbar";
// @import "../styles/about";
// @import "../styles/cv";
// @import "../styles/projets";
// @import "../styles/contact";
// @import "../styles/footer";


$color-1: #AC7088;
$color-2: #DEB6AB;
$color-3: #ECCCB2;
$color-4: #F5E8C7;